*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: inherit;
}
body{
  box-sizing: border-box;
}
::selection{
    color:blue;
    background-color: wheat;
}
.MuiBottomNavigationAction-label{
    font-size: 1.5rem !important;
}
.MuiDrawer-paperAnchorDockedRight{
  border: none;
}
.MuiBottomNavigationAction-label{
  color:#17A19D;

}
.MuiBottomNavigationAction-wrapper:hover .MuiBottomNavigationAction-label {
  color:#A1171B;
  
}
.MuiBottomNavigationAction-wrapper:hover .MuiSvgIcon-root {
  color:#A1171B;
  
}

.MuiTypography-body2{
  font-size: 1.5rem;
}
.MuiTooltip-tooltip{
  font-size: 1.5rem;
}
.MuiSvgIcon-fontSizeLarge{
  font-size: 3rem;
}
.MuiTypography-h5{
  font-size: 1.6rem;
  font-weight: 600;
}